<div class="modal hidden" id="editAdminModal" tabindex="-1">
  <div class="modal-content scrollbar-hidden flex h-5/6 w-[430px] flex-col">
    <div
      class="modalHeader sticky top-0 flex justify-between rounded-t-sm border-x border-t border-gray-400 bg-white px-8 py-4"
    >
      <h2 class="text-xl font-bold">Edit Admin</h2>
      <button class="closeModalBtn hover:scale-150 hover:duration-300">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div
      class="modalBody flex-grow overflow-y-auto border-x border-gray-400 px-8 pb-8"
    >
      <h3 class="pb-4">Account</h3>
      <form class="grid gap-4 text-[14px] font-normal">
        <div class="grid">
          <input type="hidden" id="editAdminId" name="editAdminId" />
          <label for="editAdminName">Name</label>
          <input
            type="text"
            id="editAdminName"
            name="editAdminName"
            class="rounded-sm border border-gray-100 bg-gray-100 px-4 py-2"
            placeholder="Enter your name"
          />
        </div>
        <div class="grid">
          <label for="editAdminEmail">Email</label>
          <input
            type="email"
            id="editAdminEmail"
            name="editAdminEmail"
            class="rounded-sm border border-gray-100 bg-gray-100 px-4 py-2"
            placeholder="Enter your email"
          />
        </div>
      </form>
      <hr class="my-6 border-gray-400" />
      <h3 class="pb-4">Verification</h3>
      <div class="flex justify-between pb-4">
        <div class="flex items-center gap-[10px]">
          <span class="material-icons text-green-700">check_circle</span>
          <p>Verified</p>
        </div>
        <time class="font-normal" datetime="2020/4/12">2020/4/12</time>
      </div>
      <button
        class="w-full rounded-sm border border-gray-400 py-4 text-center text-gray-400"
        disabled
      >
        Send Verification Mail
      </button>
      <hr class="my-6 border-gray-400" />
      <h3 class="pb-4">Access Level</h3>
      <select
        class="border-gry-900 w-full border p-4 leading-[19px]"
        id="editAccess"
      >
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>
      <hr class="my-6 border-gray-400" />
      <h3 class="pb-4">Custom Access</h3>
      <ul class="grid gap-4 font-normal">
        <li class="space-x-2">
          <input type="checkbox" id="customAccess1" />
          <label for="customAccess1">Lecture</label>
        </li>
        <li class="space-x-2">
          <input type="checkbox" id="customAccess2" />
          <label for="customAccess2">Coupon</label>
        </li>
        <li class="space-x-2">
          <input type="checkbox" id="customAccess3" />
          <label for="customAccess3">Message</label>
        </li>
        <li class="space-x-2">
          <input type="checkbox" id="customAccess4" />
          <label for="customAccess4">Setting</label>
        </li>
        <li class="space-x-2">
          <input type="checkbox" id="customAccess5" />
          <label for="customAccess5">Task Menu</label>
        </li>
      </ul>
      <hr class="my-6 border-gray-400" />
      <h3 class="pb-4">Deactivate Account</h3>
      <div class="flex gap-2 pb-5 text-red-600">
        <span class="material-icons">warning</span>
        <p>This cannot be undone!</p>
      </div>
      <button
        class="w-full rounded-sm border border-red-500 py-4 text-center leading-[19px] text-red-500 duration-300 hover:bg-red-600 hover:text-white"
      >
        Deactivate This Account
      </button>
    </div>
    <div
      class="modalFooter space-x-4 rounded-b-sm border border-gray-400 bg-white px-8 py-4 text-end leading-5"
    >
      <button
        class="closeModalBtn rounded-sm border border-green-700 px-8 py-2 text-green-700 duration-300 hover:bg-green-900 hover:text-white"
        type="submit"
      >
        Cancel
      </button>
      <button
        class="closeModalBtn rounded-sm border border-green-700 bg-green-700 px-8 py-2 text-white duration-300 hover:bg-green-900"
        type="submit"
      >
        Update
      </button>
    </div>
  </div>
</div>
