<div
  class="mb-[-1px] flex-col gap-4 rounded-b-sm border border-t-0 border-gray-400"
>
  <div class="flex items-center justify-between px-4">
    <div class="flex gap-2">
      <img
        class="size-10 rounded-full"
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
        alt="Recipient"
      />
      <div class="space-y-1">
        <p class="leading-[19px] text-gray-900">Andy Chen (You)</p>
        <time
          class="text-xs font-normal leading-[17px] text-gray-600"
          datetime="10:38"
        >
          13:24 AM (1 hours ago)
        </time>
      </div>
    </div>
    <div class="space-x-6">
      <a href="#">
        <span class="material-icons">star_border</span>
      </a>
      <a href="#">
        <span class="material-icons">edit</span>
      </a>
    </div>
  </div>
  <div class="pl-16 pr-8">
    <p class="pb-[22px] text-[14px] font-normal leading-normal">
      Hi David, by default, an image is rendered inline, like a letter so it
      sits on the same line that a, b, c and d sit on. There is space below that
      line for the descenders you find on letters like g, j, p and q.
      <br />
      <br />
      You can:
      <br />
      <br />
      　• adjust the
      <span class="codeLabel">vertical-align</span>
      of the image to position it elsewhere (e.g. the
      <span class="codeLabel">middle</span>
      ) or
      <br />
      　• change the
      <span class="codeLabel">display</span>
      so it isn’t inline.
    </p>
  </div>
</div>
<div class="flex items-center justify-between pb-8 pt-4">
  <div class="space-x-6">
    <a href="#"><span class="material-icons">chevron_left</span></a>
    <a href="#"><span class="material-icons">navigate_next</span></a>
  </div>
  <div class="space-x-4 leading-5">
    <button
      class="rounded-sm border border-gray-700 px-8 py-2 text-green-700 transition-all hover:bg-green-900 hover:text-white"
      type="submit"
    >
      Mark as Read
    </button>
    <a
      class="rounded-sm border border-green-700 bg-green-700 px-8 py-2 text-white transition-all hover:bg-green-900"
      href="./reply.html"
    >
      Reply
    </a>
  </div>
</div>
