<aside class="fixed h-screen w-[296px]">
  <div class="flex h-full flex-col justify-between overflow-y-auto bg-gray-100">
    <div class="py-8">
      <a class="block pb-8 pl-8" href="#">
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/9f843c654f4bbfb95e6ab2eaf0c5a42f2c3c6205/week5/logo-ANSWER.svg"
          alt="logo-ANSWER"
        />
      </a>
      <ul class="space-y-5 leading-8">
        <li>
          <a href="#" class="sidebar">
            <span class="material-icons">assessment</span>
            <span class="ms-4">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" class="sidebar">
            <span class="material-icons">question_answer</span>
            <span class="ms-4">Question</span>
          </a>
        </li>
        <li>
          <a href="./index.html" class="sidebar sidebarSelected">
            <span class="material-icons sidebarSpanMinus">assignment</span>
            <span class="ms-4">Assignment</span>
          </a>
        </li>
        <li>
          <a href="#" class="sidebar">
            <span class="material-icons">video_library</span>
            <span class="ms-4">Course</span>
          </a>
        </li>
        <li>
          <a href="./admin.html" class="sidebar">
            <span class="material-icons">people_alt</span>
            <span class="ms-4">Admin</span>
          </a>
        </li>
        <li>
          <a href="#" class="sidebar">
            <span class="material-icons">settings</span>
            <span class="ms-4">Settings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex p-8">
      <a
        class="flex items-center gap-4 transition-all hover:scale-110 hover:opacity-70"
        href="#"
      >
        <img
          class="size-10 rounded-full"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
          alt="user"
        />
        <div class="space-y-1">
          <p class="leading-[19px] text-gray-900">Andy Chen</p>
          <p class="text-[14px] font-normal leading-[17px] text-gray-600">
            andy0401&#64;gmail.com
          </p>
        </div>
      </a>
    </div>
  </div>
</aside>
